body {
    margin: 0;
    background-color: rgba(155, 50, 9, 0.651);
}
* {
    box-sizing: border-box;
}
.header {
    display: inline-block;
}
.title {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24;
}
.items-table {
    margin: 5 5;
    /* width: 100vh; */
}
img {
    margin: 0;
    width: 19%;
}
.item-white {
    background-color: #f0f0f0;
}
.item-green {
    background-color: #00FF66;
}